<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" th:href="@{/css/mis-estilos.css}" href="../static/css/mis-estilos.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    type="text/css">
  <link rel="icon" href="img/logo.png" type="image/icon type">
  <script src="../static/js/granim.min.js" th:src="@{/js/granim.min.js}"></script>
  <title>Detalles</title>


</head>

<body>
  <canvas id="canvas-basic"></canvas>
  <script>
    let granimInstance = new Granim({
      element: '#canvas-basic',
      direction: 'left-right',
      isPausedWhenNotInView: true,
      states: {
        "default-state": {
          gradients: [
            ['#6610f2', '#e83283'],
            ['#e96443', '#904e95'],
            ['#2C3E50', '#4CA1AF']
          ]
        }
      }
    });
  </script>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand"><img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Icono página"
            height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/reservas}" href="#">Reservas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Eventos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/eventos}">Administrar eventos</a>
                <a class="dropdown-item" th:href="@{/evento/new}">Nuevo evento</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>
  <main class="col-xl-12">
    <div class="row col-12 col-xl-12 m-0 p-0">
      <div class="col-12 col-xl-5 m-2 mt-4">
        <div class="card border-danger mb-3 col-xl-12 col-12 p-0 mr-4">
          <div class="card-body">
            <img th:src="${not (#strings.isEmpty(evento.image))} ? ${evento.image} : 'http://placehold.it/48x48'"
              class=" card-img-top  icono-categoria" alt="imagen evento" th:alt="${evento.alt_img}" />
            <p class="card-text border rounded mt-2" th:text="${evento.descripcion}">Info</p>
          </div>
          <div class="card-footer bg-danger col-xl-12 mr-4">
            <p th:text="${evento.nombre} + ' (' + ${evento.fechaEvento}+')'" class="col-12 col-xl-12 text-center">Hola
            </p>
            <a class="btn btn-primary col-xl-12 col-12" th:text="'Hacer reserva: '+${evento.precioEntrada}+'€'"
              th:href="@{/reserva/new/{id}(id=${evento.idEvento})}">Hacer reserva</a>
          </div>
        </div>
      </div>
      <div class="row col-12 col-xl-6 m-3">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id reserva</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Número de teléfono</th>
                <th scope="col">Correo electrónico</th>
              </tr>
            </thead>
            <tbody th:each="reserva : ${reservasEvento}">
              <tr>
                <th scope="row" th:text="${reserva.idReserva}">0</th>
                <td th:text="${reserva.nombre}">Nombre</td>
                <td th:text="${reserva.apellidos}">Apellidos</td>
                <td th:text="${reserva.numTelefono}">Número teléfono</td>
                <td th:text="${reserva.correoElectronico}">Correo electronico</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer font-small bg-dark lighten-3 pt-4 text-light ml-0">


    <div class="container text-center text-md-left">


      <div class="row">

        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">


          <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>
          <p>Para ticket o reclamaciones:
            Trate de contactarnos por medio del apartado "Enviar un ticket" donde usted será atendido
            lo antes posible.
          </p>


        </div>



        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <h5 class="font-weight-bold text-uppercase mb-4">Información</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">Proyectos</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Sobre nosotros</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Blog</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Tiendas fisicas</a>
              </p>
            </li>
          </ul>

        </div>




        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">


          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>

          <ul class="list-unstyled">
            <li>
              <p>Sevilla,Triana 41010,España</p>
            </li>
            <li>
              <p>qwertyasdfgh@example.com</p>
            </li>
            <li>
              <p>+ 01 234 567 88</p>
            </li>
            <li>
              <p>+ 01 234 567 89</p>
            </li>
          </ul>

        </div>



        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">


          <h5 class="font-weight-bold text-uppercase mb-4">Redes sociales y contacto</h5>


          <a href="https://Facebook.com/login" target="_blank" class="btn-social btn-facebook">
            <i class="bi bi-facebook col-6"></i></a>

          <a href="https://twitter.com/login" target="_blank" class="btn-social btn-twitter"><i
              class="bi bi-twitter col-6"></i></a>

          <a href="https://web.telegram.org/#/login" target="_blank" class="btn-social btn-google-plus">
            <i class="bi bi-telegram col-6"></i></a>

          <a href="https://www.instagram.com/" target="_blank" class="btn-social btn-instagram"><i
              class="col-6 bi bi-instagram"></i></a>

          <a href="https://www.youtube.com/" target="_blank" class="btn-social btn-youtube"><i
              class=" col-6 bi bi-youtube"></i></a>

          <a href="https://mail.google.com/" target="_blank" class="btn-social btn-email"><i
              class=" col-6 bi bi-envelope"></i></a>


        </div>


      </div>


    </div>


  </footer>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>