<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de eventos</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    type="text/css">
  <link rel="icon" href="img/logo.png" type="image/icon type">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" th:href="@{/css/mis-estilos.css}" href="../static/css/mis-estilos.css" type="text/css">
  <link rel="stylesheet" href="../static/css/datedropper.min.css" th:href="@{./css/datedropper.min.css}">
  <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="../static/js/datedropper.min.js" th:src="@{/js/datedropper.min.js}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Icono página"
          height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/reservas}" href="./lista_reservas.html">Reservas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Eventos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="./admin_evento.html" th:href="@{/eventos}">Administrar eventos</a>
              <a class="dropdown-item active" th:href="@{/evento/new}">Nuevo evento
                <span class="visually-hidden">(current)</span>
              </a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <main class="d-flex justify-content-center">
    <div class="container border rounded bg-dark p-2 mb-4 mt-4">
      <form method="post" id="formulario" th:action="@{/evento/add}" th:object="${evento}"
        class="formulario col-12 d-flex flex-row flex-wrap justify-content-center">
        <div class="row col-12 d-flex justify-content-center">

          <div class="formulario__grupo col-12 col-xl-4 p-4" id="grupo__nombreEvento">
            <label for="nombre">Nombre del evento</label>
            <div class="formulario__grupo-input" id="marco_input-nombreEvento">
              <input type="text" class="formulario__input form-control" th:field="*{nombre}" id="nombreEvento"
                aria-describedby="nameHelp" th:required="required" onfocusout="validarNombreEvento();">
              <small id="nameHelp" class="form-text text-muted">Escriba el nombre del evento.</small>
            </div>
            <p class="formulario__input-error" id="error_nombreEvento">Este campo solo puede contener hasta 255
              carácteres y no puede estar vacío.</p>
          </div>
          <div class="formulario__grupo col-12 col-xl-6 p-4 pl-0  " id="grupo__descripcion">
            <label for="nombre">Descripción</label>
            <div class="formulario__grupo-input" id="marco_input-descripcion">
              <input type="text" class="formulario__input form-control" th:field="*{descripcion}" id="descripcion"
                aria-describedby="descripcionHelp" th:required="required" onfocusout="validarDescripcion();">
              <small id="descripcionHelp" class="form-text text-muted">Escriba una breve descripción.</small>
            </div>
            <p class="formulario__input-error" id="error_descripcion">Este campo solo puede contener hasta 255
              carácteres y no puede estar vacío.</p>
          </div>
        </div>
        <div class="row col-12 d-flex justify-content-center">
          <div class="formulario__grupo col-12 col-xl-6 d-flex flex-column p-4 pt-0" id="grupo__precioEntrada">
            <label for="precioEntrada" class="formulariolabel">Precio de la entrada</label>
            <div class="formulario__grupo-input" id="marco_input-precioEntrada">
              <input required type="text" class="formulario__input form-control" name="precioEntrada" id="precioEntrada"
                th:field="*{precioEntrada}" onfocusout="validarPrecioEntrada();">
              <small id="priceHelp" class="form-text text-muted">Escriba un valor númerico correspondiente al precio de
                la entrada.</small>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error" id="error_precioEntrada">Este campo solo puede contener números y un
              punto.</p>
          </div>

          <div class="formulario__grupo col-12 col-xl-4 d-flex flex-column p-4 pt-0" id="grupo__fechaEvento">

            <label for="fechaEntrada" class="formulariolabel">Fecha:</label>
            <div class="formulario__grupo-input" id="marco_input-fechaEvento">

              <!--<input class="formulario__input form-control" type="date" th:value="*{fechaEvento}"
                th:field="*{fechaEvento}" id="fecha" min="2021-01-01" max="2021-12-31" required="required" th:required="required" onfocusout="validarFechaEvento();">-->
              <div class="container">
                <input class="formulario__input form-control" type="date" th:value="*{fechaEvento}"
                th:field="*{fechaEvento}" id="fecha" min="2021-01-01" max="2021-12-31" required="required" th:required="required" onfocusout="validarFechaEvento();">
                <script>
                  $('#fecha').dateDropper({
                    minYear:2021,
                    maxYear:2021,
                    expandable: true

                  });
                </script>
              </div>
              <small id="dateHelp" class="form-text text-muted">Seleccione la fecha en la que tendrá lugar el
                evento.</small>
               <p class="formulario__input-error" id="error_fechaEvento">Este campo no puede estar vacío.</p>

            </div>
          </div>
        </div>
        <div class="row col-12 d-flex justify-content-center mb-0">
          <div class="formulario__grupo col-12 col-xl-5 d-flex flex-column p-4 pt-0" id="grupo__fotoEvento">
            <div class="formulario__grupo-input" id="marco_input-fotoEvento">
              <label for="fotoEvento" class="formulariolabel">Fotografía del evento</label>
              <input type="text" class="formulario__input form-control" th:field="*{image}" id="fotoEvento" th:required="required"
                onfocusout="validarURLFoto();">
              <small id="imageHelp" class="form-text text-muted">Introduzca la url de la fotografía.</small>
              <p class="formulario__input-error" id="error_fotoEvento">La URL puede tener 255 caracteres como máximo y no puede estar vacía.
              </p>
            </div>
          </div>
          <div class="formulario__grupo col-12 col-xl-5 d-flex flex-column p-4 pt-0 mb-0" id="grupo__textoAlternativo">
            <div class="formulario__grupo-input" id="marco_input-textoAlternativo">
              <label for="textoAlternativo" class="formulariolabel">Texto alternativo</label>
              <input type="text" class="formulario__input form-control" th:field="*{alt_img}" id="textoAlternativo"
                th:required="required" onfocusout="validarTextoAlternativo();">
              <small id="imageHelp" class="form-text text-muted">Introduzca el texto alternativo de la fotografía.</small>
              <p class="formulario__input-error" id="error_textoAlternativo">El texto alternativo puede tener 255 caracteres como máximo y no puede estar vacío.</p>

            </div>
          </div>
        </div>
        <div class="row col-12 m-0 p-0">
          <div class="container col-0 p-0 m-0">
            <input type="hidden" th:field="*{idEvento}" id="id">
          </div>
          <div class="formulario__grupo formulario__grupo-btn-enviar col-xl-12 col-10 d-flex flex-wrap mt-0 p-0 justify-content-center">
            <button type="button" onclick="validarFormularioDeEventos();" class="btn-primary btn-lg pt-0 ml-4 col-xl-4">Finalizar</button>
            <div class="container col-xl-12 col-12">
              <div class="formulario__mensaje col-xl-12 col-12" id="formulario__mensaje">
                <p><b>Error:</b> Por favor rellene el formulario correctamente.
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </main>
  <footer class="page-footer font-small bg-dark lighten-3 pt-4 text-light ml-0">


    <div class="container text-center text-md-left">


      <div class="row">

        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">


          <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>
          <p>Para ticket o reclamaciones:
            Trate de contactarnos por medio del apartado "Enviar un ticket" donde usted será atendido
            lo antes posible.
          </p>


        </div>



        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <h5 class="font-weight-bold text-uppercase mb-4">Información</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">Proyectos</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Sobre nosotros</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Blog</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Tiendas fisicas</a>
              </p>
            </li>
          </ul>

        </div>




        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">


          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>

          <ul class="list-unstyled">
            <li>
              <p>Sevilla,Triana 41010,España</p>
            </li>
            <li>
              <p>qwertyasdfgh@example.com</p>
            </li>
            <li>
              <p>+ 01 234 567 88</p>
            </li>
            <li>
              <p>+ 01 234 567 89</p>
            </li>
          </ul>

        </div>



        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">


          <h5 class="font-weight-bold text-uppercase mb-4">Redes sociales y contacto</h5>


          <a href="https://Facebook.com/login" target="_blank" class="btn-social btn-facebook">
            <i class="bi bi-facebook col-6"></i></a>

          <a href="https://twitter.com/login" target="_blank" class="btn-social btn-twitter"><i
              class="bi bi-twitter col-6"></i></a>

          <a href="https://web.telegram.org/#/login" target="_blank" class="btn-social btn-google-plus">
            <i class="bi bi-telegram col-6"></i></a>

          <a href="https://www.instagram.com/" target="_blank" class="btn-social btn-instagram"><i
              class="col-6 bi bi-instagram"></i></a>

          <a href="https://www.youtube.com/" target="_blank" class="btn-social btn-youtube"><i
              class=" col-6 bi bi-youtube"></i></a>

          <a href="https://mail.google.com/" target="_blank" class="btn-social btn-email"><i
              class=" col-6 bi bi-envelope"></i></a>


        </div>


      </div>


    </div>


  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
  <script src="../static/js/myScript.js" th:src="@{/js/myScript.js}"></script>
  


</body>

</html>