<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario reserva</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    type="text/css">
  <link rel="icon" href="img/logo.png" type="image/icon type">
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">
  <style>
    .form-group {
      margin-top: 2%;
      margin-left: 10%;
    }

    .container {
      margin-top: 3%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0">
    <a class="navbar-brand"><img th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="Icono página"
        height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/reservas}">Reservas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/evento/new}">Nuevo evento</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/eventos}">Administrar eventos</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container border rounded bg-dark pb-4 mb-4">
    <form method="post" th:action="@{/evento/add}" th:object="${evento}"
      class="col-11 d-flex flex-column justify-content-center">
      <div class="form-group col-12 d-flex d-row flex-wrap p-0 ml-4">
        <div class="container col-xl-5 col-12 p-0 mr-4">
          <label for="nombre">Nombre del evento</label>
          <input type="text" class="form-control" th:field="*{nombre}" id="nombre" aria-describedby="nameHelp" th:required="required">
          <small id="nameHelp" class="form-text text-muted">Escriba el nombre del evento.</small>
        </div>
        <div class="container col-xl-5 col-12 p-0 ml-0">
          <label for="nombre">Descripción</label>
          <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion"
            aria-describedby="descripcionHelp" th:required="required">
          <small id="descripcionHelp" class="form-text text-muted">Escriba una breve descripción.</small>
        </div>
      </div>
      <div class="form-group col-12 d-flex d-row flex-wrap p-0 ml-4">
        <div class="container col-xl-5 col-12 p-0 mr-4">
          <label for="correoElectronico">Precio de la entrada del evento</label>
          <input type="text" class="form-control" th:field="*{precioEntrada}" id="precioEntrada"
            aria-describedby="priceHelp" th:required="required">
          <small id="priceHelp" class="form-text text-muted">Escriba un valor númerico correspondiente al precio de la
            entrada.</small>
        </div>
        <div class="container col-xl-5 col-12 p-0 ml-0">
          <label>Fecha</label><br>
          <input type="date" th:value="*{fechaEvento}" th:field="*{fechaEvento}" id="fecha" min="2021-01-01"
            max="2021-12-31" th:required="required">
          <small id="dateHelp" class="form-text text-muted">Escriba la fecha en la que tendrá lugar el evento.</small>

        </div>

      </div>
      <div class="form-group col-12 d-flex d-row flex-wrap p-0 mt-0 ml-4">
        <div class="container col-6 p-0">
          <label for="fotoEvento">Fotografía del evento</label>
          <input type="text" class="form-control" th:field="*{image}" id="fotoEvento" th:required="required">
          <small id="imageHelp" class="form-text text-muted">Introduzca la url de la fotografía.</small>

        </div>
        <div class="container col-0 p-0 mr-0">
          <input type="hidden" th:field="*{idEvento}" id="id">
        </div>
        <div class="col-xl-12 col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary btn-lg mr-4">Finalizar</button>
        </div>
      </div>
    </form>
  </div>
  <script th:src="@{js/form_validation.js}" src="../static/js/form_validation.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>